.boton_1 {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  margin-top: 40px;
  width: 10em;
  margin-left: 900px;
  border-radius: 10px;
  font-size: 1.0em;
  padding: 10px 10px;
  cursor: pointer;
}

h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 2.5em;
}
head {
  background-color: rgb(255, 255, 255);
  height: 100px;
  width: 100%;
}
body {
  background-color: rgb(255, 255, 255);
}

.fondo-gris {
  background-color: rgb(168, 159, 145);
  height: 200px;
  width: 100%;
}
.logo {
  margin-left: 30px;
  margin-right: auto;
  margin-top: 60px;
  width: 200px;
  height: auto;

}

.fondo-blanco {
  background-color: rgb(255, 255, 255);
  height: 400px;
  width: 100%;
}

.boton_2 {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  margin-top: 20px;
  width: 10em;
  margin-left: 500px;
  border-radius: 10px;
  font-size: 1.0em;
  padding: 10px 10px;
  cursor: pointer;
}

.boton_3 {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  margin-top: 20px;
  width: 10em;
  margin-left: 55px;
  border-radius: 10px;
  font-size: 1.0em;
  padding: 10px 10px;
  cursor: pointer;
}
