/* ------ ESTILOS GENERALES ------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f2f2f2;
  color: #222;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: #463333;
  padding: 45px;

}

header h1 {
  color: #fff;
}

/* ------ CONTENIDO PRINCIPAL ------ */
.title-container {
  background: #ffffff;
  padding: 40px 20px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: -40px;
}

.home-container {
  flex: 1;
  text-align: center;
  padding: 60px 20px;
}

p {
  font-size: 18px;
  margin-bottom: 25px;
}

/* ------ IMAGEN ------ */
.logo-container {
  position: absolute;
  left: 100px;
  top: 50px;
  z-index: 1000;
}

.logo { 
  max-width: 200px;
  height: auto;
}

/* ------ BOTONES ------ */
.btn-1 {
  display: inline-block;
  padding: 12px 24px;
  background: #000000;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  transition: 0.3s ease;
  position: absolute;
  right: 50px;
  top: 70px;
  z-index: 1000;
}

.btn-1:hover {
  background: #000000;
}

.btn-2 { 
  display: inline-block;
  padding: 12px 24px;
  background: #000000;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  transition: 0.3s ease;
  margin-right: 20px; 
}

.btn-2:hover {
  background: #000000;
}

.btn-3 {
  padding: 12px 24px;
  background: #ffffff;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  transition: 0.3s ease;
  border: 1px solid #000000;
  margin-left: 20px;
}
.btn-3:hover {
  background: #ffffff;
  border: 1px solid #000000; 
}

/* ------ SECCIÓN IMÁGENES CON TEXTO ------ */
.about-section {
  padding: 80px 20px;
  background: #ffffff;
}

.about-container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 50px;
}

.about-image {
  flex: 1;
}

.project-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.about-text {
  flex: 1;
  padding: 40px;
  border: 2px solid #463333;
  border-radius: 10px;
  background: #f8f8f8;
}

.about-text h2 {
  color: #463333;
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

.about-text p {
  color: #555;
  line-height: 1.6;
  margin-bottom: 15px;
  font-size: 1em;
}
/* ------ FOOTER ------ */
footer {
  background: #463333;
  color: #fff;
  padding: 10px;
  text-align: center;
}