@import "../EstudiantePages.css";

.page-container p {
  color:var(--muted);
}

.data-table td:nth-child(1) {
  width:160px;
  color:#555;
}

.data-table td:nth-child(3) {
  width:160px;
  color:#444;
  font-weight:600;
}
