@import "../EstudiantePages.css";

.form select {
  border-color:#d0cfe3;
}

.form textarea:focus {
  border-color:var(--brand);
  box-shadow:0 0 0 3px #b600001e;
}

.page-container h1::after {
  content:"";
  display:block;
  width:72px;
  height:3px;
  margin:10px auto 0;
  background:var(--brand);
  border-radius:2px;
}
