@import "../EstudiantePages.css";

.form {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.form input:focus {
  border-color: #b60000;
  box-shadow: 0 0 4px rgba(182, 0, 0, 0.4);
}
